<div class="container-fluid">
  <div  class="row card-group">
      <div class="col-md-4"
          *ngFor="let post of posts">
        <div  class="card mx-auto"
              style="margin: 15px;">
              <div class="image-card">
                <img  class="card-img-top" 
                      src="{{publicUrl}}{{post.photoUrl}}" 
                      alt="talos"
                      height="400">
              </div>
            <div class="card-body text-center">
              <h4 class="card-title">
                  {{post.title}}
              </h4>
              <p  class="card-text">
                  {{post.description}}
              </p>
              <div class="row mx-auto footer">
                  <h5 *ngFor="let item of post.tags"
                      class="card-text"
                      style="margin-top: 10px">
                    <span>{{item}}, </span>
                    &nbsp;
                  </h5>
                  <a  class="btn btn-primary ml-auto"
                      (click)="viewDetail()"
                      style="margin-top: 10px">
                      View
                  </a>
              </div>
            </div>
        </div>          
      </div>
  </div>
</div>
