<div  class="container-fluid"
      style="margin-top: 20px;">
  <form [formGroup]="newPost">
    <div class="row mx-auto">
      <div class="col-md-6">
        <div class="form-group">
          <label for="title">Title</label>
          <input  type="text" 
                  class="form-control"
                  placeholder="Title"
                  formControlName="title"
                  name="title">
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <textarea class="form-control"
                      rows="3"
                      formControlName="description"
                      name="description">
            </textarea>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-md-5">
              <label for="tags">Tags</label>
              <input  type="text" 
                      class="form-control"
                      placeholder="Tags"
                      formControlName="tag"
                      name="tag">
            </div>
            <div class="col-md-3 mt-auto">
                <a  class="btn btn-primary"
                    (click)="addTag()"
                    style="color: white;">
                    Add Tag
                </a>
            </div>
          </div>
        </div>
        <div  class="form-group">
          <label  for="image" 
                  style="border: 1px solid black"
                  *ngFor="let item of post.tags">
                  {{item}} &nbsp; <span (click)="deleteTag(item)">x</span> &nbsp;
          </label>
        </div>
      </div>
      <div class="col-md-6">
          <div class="form-group">
              <label for="image">Image</label>
              <input  type="file"
                      class="form-control-file"
                      accept='image/*'
                      (change)="preview(file.files)"
                      #file>
          </div>
          <div class="form-group">
              <img  [src]="photoUrl"
                    height="400" 
                    *ngIf="photoUrl">
          </div>
          <div class="form-group">
              <button type="submit"
                      class="btn btn-primary"
                      (click)="submit()">
                        Add Post
              </button>
          </div>
      </div>
    </div>
  </form>
</div>
